<ion-header >
  <ion-toolbar color="secondary">
    <ion-icon slot="end" name="person" size="large" class="ion-padding" (click)="goToperfil()"></ion-icon>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md">Registrapp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Otros contenidos del page -->
  <ion-list class="custom-list">
    <ion-list>
      <ion-item *ngFor="let barcode of barcodes">
        <ion-label position="stacked">{{ barcode.format }}</ion-label>
        <ion-input type="text" [value]="barcode.rawValue"></ion-input>
      </ion-item>
    </ion-list>
    <div class="container">
      <div class="link-card">
        <img src="assets/images/qr.png" alt="Escanear QR" class="center-image">
        <ion-button (click)="scanQRCode()" [disabled]="!isSupported">
          <ion-icon slot="start" name="scan"></ion-icon>
          Escanear QR
        </ion-button>
      </div>
    </div>    
  </ion-list>
  <ion-list class="custom-list-second">
    <div class="container">
      <div class="link-card" (click)="goToRamos()">
          <img src="assets/images/cuaderno.png" alt="Ver mis ramos" class="center-imagen">
          <ion-button expand="block" class="center-button">Ver mis ramos</ion-button>
        </div>
      </div>
    </ion-list>
  <ion-list class="custom-list-second">
    <div class="container">
      <div class="link-card">
          <img src="assets/images/actualizar.png" alt="Ver mis ramos" class="center-imagen">
          <ion-button expand="full" (click)="syncLocalDataToFirebase()">Actualizar datos</ion-button>
        </div>
      </div>
    </ion-list>
</ion-content>
