<app-encabezado></app-encabezado>

<ion-content>
  <ion-list class="custom-list">
    <div class="custom-container-title">
      <ion-list-header class="list-ini" color="primary">
        <ion-label>Mis Ramos</ion-label>
      </ion-list-header>
    </div>
    <ion-list>
      <!-- Mostrar cada ramo en la lista -->
      <ion-item *ngFor="let ramo of ramos">
        <ion-label>
          <h2>{{ ramo.nombre }}</h2>
          <p *ngIf="ramo.id">Asistencia: {{ asistencias[ramo.id] || '0/0' }}</p>
          <p *ngIf="!ramo.id">Error: ID no disponible</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>