<app-encabezado></app-encabezado>

<ion-content>
  
  <ion-list class="custom-list">
    <div class="container">
      <div class="link-card" (click)="goToasignatura_qr()">
        <img src="assets/images/miqr.png" alt="Generar QR" class="center-image">
        <ion-button expand="block" class="center-button">Generar QR</ion-button>
      </div>
      <div class="link-card" (click)=goTolista_docente() >
        <img src="assets/images/presente.png" alt="Ver lista" class="center-imagen">
        <ion-button expand="block" class="center-button">Ver lista</ion-button>
      </div>
      <div class="link-card" (click)=goTocrear_ramo() >
        <img src="assets/images/presente.png" alt="Ver lista" class="center-imagen">
        <ion-button expand="block" class="center-button">Crear ramo</ion-button>
      </div>
    </div>
  </ion-list>
</ion-content>
