<ion-header >
  <ion-toolbar color="secondary">
    <ion-icon slot="end" name="person" size="large" class="ion-padding" (click)="goToperfil()"></ion-icon>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md">Registrapp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list class="custom-list">
    <div class="container">
      <div class="link-card" (click)="goToasignatura_qr()">
        <img src="assets/images/miqr.png" alt="Generar QR" class="center-image">
        <ion-button expand="block" class="center-button">Generar QR</ion-button>
      </div>
      <div class="link-card" (click)=goTolista_docente() >
        <img src="assets/images/presente.png" alt="Ver lista" class="center-imagen">
        <ion-button expand="block" class="center-button">Ver lista</ion-button>
      </div>
      <div class="link-card" (click)=goTocrear_ramo() >
        <img src="assets/images/presente.png" alt="Ver lista" class="center-imagen">
        <ion-button expand="block" class="center-button">Crear ramo</ion-button>
      </div>
    </div>
  </ion-list>
</ion-content>
